<div>
    <div class="col-md-7 col-md-offset-2 panel panel-body text-center ">
        <h3>{{poll.title}}</h3>
        <br>
        <hr>
        <h5>{{poll.body}}</h5>
    </div>

    {{#if poll.running}}
    {{#each poll.panels}}
    {{#unless this.voted}}
    <div class="col-lg-5 col-lg-offset-3 panel text-center panel-body">
        <h3>{{this.name}}</h3> <hr>
        {{#each this.candidates}}
            <div class="col-lg-5 col-lg-offset-3 center">
                <form action="/elections/{{this.parentPanel}}/{{this._id}}" method="post">
                <button type="submit"  id='{{this._id}}' class='btn-success pull-right btn-block' method='post'>
                <h4>{{this.name}}</h4>
                </button>
                <br><br><br>
            </form>
            </div>
            <br>
        {{/each}}
    </div>
    {{!-- {{else}}
            <div class=" col-lg-3 col-lg-offset-4 alert alert-success alert-dismissible" role="alert">                                        
        <strong>This Election has not begun yet.  </strong>
    </div> --}}

        
    {{!-- {{/if}} --}}
    
    {{!-- {{/if}} --}}
    {{else}}
        <div class="col-md-7 col-md-offset-2">
            
        <div class="panel panel-default">
        <div class="panel-body">
            <div class="row text-center">
                <h3>{{this.name}}</h3> <hr>
                <div class="col-md-12 text-center ">
                    <div class='row'>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <canvas id="{{this._id}}" width="100" height="100"></canvas>
                            <table class='table'>                        
                            <tr>
                                <th> Name </th>
                                <th> No. Of Votes</th>
                                <th> Percentage </th>
                            </tr>
                            {{#each this.candidates}}                                                    
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.votes}}</td>
                                <td>{{this.percent}}</td>
                            </tr>                            
                            <br>
                            {{!-- </form> --}}
                            {{/each}}
                            </table>
                            <script type="text/javascript"
                                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
                            
                            <script>
                                var array = document.querySelectorAll("canvas");            
                                var canvas = array[array.length-1 ];
                                var ctx = canvas.getContext('2d');
                                //console.log(canvas)
                                var pid = canvas.getAttribute("id");
                                //console.log(pid)
                                //var pid = canvas.class;
                                //console.log(pid) 
                                var ctx = document.getElementById("myChart");
                                var data = {{{polljs}}}
                                console.log(data)
                                label = []
                                datas = []

                                for(i in candidates){
                                    label.push(candidates[i].name);
                                    datas.push(candidates[i].votedBy.length);
                                }

                                var myChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: label,
                                        datasets: [{
                                            label: 'Percentage',
                                            data: datas,
                                            backgroundColor: [
                                                'rgb(43, 152, 240)',
                                                'rgb(30, 188, 210)',
                                                'rgb(21, 149, 136)',
                                                'rgb(80,174,84)',
                                                'rgb(205,218,73)',
                                                'rgb(253,151,38)',                                                                                                                            
                                            ],
                                            borderColor: [
                                            'rgb(255,255,255)'
                                                
                                            ],
                                            borderWidth: 1
                                        }]
                                    },
                                });
                            </script>

                        </div>

                    </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>            
    {{/unless}}
    {{/each}}
    {{/if}}

    {{!-- election has not begun  --}}
    {{#if poll.notstarted }}
        <div class=" col-lg-3 col-lg-offset-4 alert alert-success alert-dismissible" role="alert">                                        
        <strong>This Election has not begun yet.  </strong>
    </div> --}}
    {{/if}}

    {{!-- election has finished  --}}
    {{#if poll.ended }}
    {{#each poll.panels}}
        <div class="col-md-7 col-md-offset-2">
            
        <div class="panel panel-default">
        <div class="panel-body">
            <div class="row text-center">
                <h3>{{this.name}}</h3> <hr>
                <div class="col-md-12 text-center ">
                    <div class='row'>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <canvas id="{{this._id}}" width="100" height="100"></canvas>
                            <table class='table'>
                            
                            <tr>
                                <th> Name </th>
                                <th> No. Of Votes</th>
                                <th> Percentage </th>
                            </tr>
                            {{#each this.candidates}}                                                    
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.votes}}</td>
                                <td>{{this.percent}}</td>
                            </tr>

                            {{!-- </button> --}}
                            <br>
                            {{!-- </form> --}}
                            {{/each}}
                            </table>
                            <script type="text/javascript"
                                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
                            <script type="text/javascript">
                                var candidate = `{{{data}}}` ;                                                      
                                console.log(JSON.parse(candidate));
                            </script>

                        </div>

                    </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            </div>   

    
    {{/each}}
    {{/if}}


</div>

<div class="col-lg-5 text-left">
        <p style="font: 1px; color: red;">Status: {{poll.status}} <br> Starts At: {{poll.startAt}} <br> Ends At: {{poll.expireAt}}</p>    

        </div> 