<div>
    <div class="col-lg-5 col-lg-offset-3 text-center panel panel-body">
        <h3>{{poll.title}}</h3> <hr>
        <h5>{{poll.body}}</h5>
    </div>

    {{#each poll.panels}}
    <div class="col-lg-5 col-lg-offset-3 panel panel-body">
        <h3>{{this.name}}</h3> <hr>
        {{#each this.candidates}}
            <div class="col-lg-5 col-lg-offset-3 center">
                <form action="/poll/{{this.parentPoll}}/{{this._id}}" method="post">
                <button type="submit"  id='{{this._id}}' class='btn-success pull-right btn-block' method='post'>
                <h4>{{this.name}}</h4>
                </button>
                <br><br><br>
            </form>
            </div>
            <br>
            
        {{/each}}
    </div>
    {{/each}}


</div>