<div class="col-md-12">
        {{#if success_msg}}
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{success_msg}}</strong>
            </div>
        {{/if}}
        {{#if error_msg}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{error_msg}}</strong>
            </div>
        {{/if}}
        {{#if error}}
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <strong>{{error}}</strong>
            </div>
        {{/if}}
        {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>{{msg}}</strong>
                </div>
            {{/each}}
        {{/if}}


    
        <form action="/createelection/final" method="post">
        <input type="text" name="count" value="{{p_number}}" hidden>
        <div class="col-md-7 col-md-offset-3 panel-body panel">
            <div class="form-group">
                <label for="Title">Title: <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="title" name="title" placeholder="Eg. Election for The Best FIFA Football Awards 2019 " required>
            </div>
            <div class="form-group">
                <label for="comment">Description: </label>
                <textarea class="form-control" rows="3" name='body'></textarea>
            </div>

            {{!-- <button type="button" id='more' class='btn-success pull-right'>Add</button> --}}

            <script src='/js/more.js'></script>

            <br>
            <div id='votercontainer'>
                <div class="form-group" id='voters'>
                    <label for="voters">Voter List <span class="text-danger">*</span></label>
                    <input type="email" class="form-control voters"  name="voters" placeholder="Eg- email1@sth.com " required>
                    <input type="email" class="form-control voters"  name="voters" placeholder="Eg- email2@sth.com" required>  
                </div>                                         
                <button type="button" id='election' class='btn-success pull-right'>Add</button>
            </div>
            

            <script src="/js/election.js"></script>
        </div>

            <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
            <br>
    
    
            {{#count p_number }}
                <div class="col-md-7 col-md-offset-3 panel panel-body">
                    <h3>Panel {{this}}</h3>
                    <hr>
                <div class="form-group">
                    <label for="panel">Panel Name: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="panel" name="p_name{{this}}" placeholder="Eg. The Best FIFA Men's Player " required>
                </div>

                <div class="form-group" id='candidates'> 
                    <label for="candidates">Candidates: <span class="text-danger">*</span></label>
                    <input type="text" class="form-control candidates{{this}}"  name="candidates{{this}}" placeholder="Eg- Messi  " required>
                    <input type="text" class="form-control candidates{{this}}"  name="candidates{{this}}" placeholder="Eg- Virgil Van Dijk " required>
                    <input type="text" class="form-control candidates{{this}}"  name="candidates{{this}}" placeholder="Eg- Ronaldo ">
                </div>

                <button type="button" id='more' class='btn-success pull-right canbutton'>Add</button>
                </div>
            {{/count}}
            <script src='/js/more.js'></script>
            <br>
            <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
            <div class="col-md-7 col-md-offset-3 panel panel-body">
                <div class="form-group">
                    <label for="start_date">Start Date</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='datetime-local' class='form-control date' name='start_date' data-date-format="DD MMMM YYYY" class="form-control" required />
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="col-md-7 col-md-offset-3 panel panel-body">
                <div class="form-group">
                    <label for="expiry_date">Expiry Date</label>
                        <div class='input-group date' id='datetimepicker3'>
                            <input type='datetime-local' class='form-control date' name='expiry_date' data-date-format="DD MMMM YYYY" class="form-control" required/>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div class="form-group col-md-8 col-md-offset-3  text-center">
                <button type="submit" class="btn btn-info">Create</button>
            </div>

        </form>
    </div>
    

        
</div>            

