    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <h2>{{poll.title}}</h2><hr>
                            <h3>{{poll.body}}</h3>
                            
                            
                            <div class='row'>
                                <div class="col-md-5 col-md-offset-3 text-center">
                                    <div>
                                        {{#each candidates}}
                                        <form action="/poll/{{this.parentPoll}}/{{this._id}}" method="post">
                                            <button type="submit"  id='{{this._id}}' class='btn-success pull-right btn-block' method='post'> 
                                            <h4>{{this.name}}</h4>
                                            </button>
                                            <br><br><br>
                                        </form>
                                        {{/each}}                                                                            
                                    </div> 
                                </div>
                            </div>

                        </div>
                        </div>
                        
                        </div>
                        {{#if message}}
                        <p>{{message}}</p>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>


