{{!-- <div class="row"> --}}
    <div class="col-md-7 col-md-offset-2">
        <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 text-center ">
                    <h2>{{poll.title}}</h2>
                    {{!-- <h5>Created At: {{poll.createdAt}}</h5> --}}
                    <hr>
                    <h4>{{poll.body}}</h4>
                    
                    <div class='row'>
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <canvas id="myChart" width="100" height="100"></canvas>
                            <table class='table'>
                            
                            <tr>
                                <th> Name </th>
                                <th> No. Of Votes</th>
                                <th> Percentage </th>
                            </tr>
                            {{#each candidates}}
                            {{!-- <form action="/poll/{{this.parentPoll}}/{{this._id}}" method="post"> --}}
                            {{!-- <button type="submit"  id='{{this._id}}' class='btn-success pull-right btn-block' method='post'>  --}}
                            <tr>
                                <td>{{this.name}}</td>
                                <td>{{this.votes}}</td>
                                <td>{{this.percent}}</td>
                            </tr>

                            {{!-- </button> --}}
                            <br>
                            {{!-- </form> --}}
                            {{/each}}
                            </table>
                            <script type="text/javascript"
                                src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
                            <script>
                                var ctx = document.getElementById("myChart");
                                var candidates = {{{candidatejs}}}
                                label = []
                                datas = []

                                for(i in candidates){
                                    label.push(candidates[i].name);
                                    datas.push(candidates[i].votedBy.length);
                                }

                                var myChart = new Chart(ctx, {
                                    type: 'pie',
                                    data: {
                                        labels: label,
                                        datasets: [{
                                            label: 'Percentage',
                                            data: datas,
                                            backgroundColor: [
                                                'rgb(43, 152, 240)',
                                                'rgb(30, 188, 210)',
                                                'rgb(21, 149, 136)',
                                                'rgb(80,174,84)',
                                                'rgb(205,218,73)',
                                                'rgb(253,151,38)',                                                                                                                            
                                            ],
                                            borderColor: [
                                            'rgb(255,255,255)'
                                                
                                            ],
                                            borderWidth: 1
                                        }],                                        
                                    },
                                    
                                });
                            </script>

                        </div>

                    </div>
                    </div>
                </div>
                <div class=" col-lg-4 col-lg-offset-4 alert alert-success alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <strong>You have voted in this poll. </strong>
                                </div>

        </div>
            </div>
        </div>
        
        {{#if message}}
        <p>{{message}}</p>
        {{/if}}
        </div>
    </div>
    </div>
{{!-- </div> --}}
{{!-- 33,35,38 --}}

    